.filterDay-contents{
	position:relative;
	float:left;
	display:inline-flex;
	vertical-align: middle
}
.filterDay-input{
	width:6em;
	position:relative;
	float:left;
	padding-top:.5em;
	padding-bottom:.5em;
	text-align:center;
	font-family: MoonLight;
	border-radius: 5px 0px 0px 5px;
	border-width: thin;
	border-color: grey;
	display: inline-flex;
	border-right:none;
}
.filterDay-input:focus{
	outline:none;
}