.filterYear-contents{
	position:relative;
	float:left;
	display:inline-flex;
	vertical-align: middle;
	z-index: 2000;
}
.filterYear-input{
	width:6em;
	position:relative;
	float:left;
	margin-top:0;
	padding-top:.5em;
	padding-bottom:.5em;
	text-align:center;
	font-family: MoonLight;
	border-radius: 0px 5px 5px 0px;
	border-width: thin;
	border-color: grey;
	letter-spacing: .1em;
	z-index: 2000;
	display: inline-flex;
	border-left:none;

}
.filterYear-input:focus{
	outline:none;
}
#info-icon{
	position:absolute;
	left:100px;
	top:-20px;
	color:white;
	z-index:10000;
	font-size: 12pt;
}