.mobile-footer-container{
	position:fixed;
	top:90%;
	height:10%;
	width:100%;
	display:flex;
	align-items: center;
	border-top: 1px solid grey;
	justify-content: space-evenly;
	background-color:white;
}
.mobile-home-icon, .mobile-pencil-icon, .mobile-cog-icon{
	font-size:18pt;
	margin-bottom:.1em;
}
.mobile-settings-container{
	position:fixed;
	background: rgba(0, 0, 0, 0.5);
	height:100%;
	width:100%;
	z-index:1000000;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.settings-item{
	position:relative;
	float:left;
	width:90%;
	padding:5%;
	margin-bottom:5%;
	border-radius: 5px;
	background-color: white;
	font-size:20pt;
	color:grey;
	letter-spacing: .1em;
	font-family: Raleway-Regular;
}
.link-footer{
	text-decoration: none;
}
.link-footer:visited{
	color:grey;
}
.link-footer:hover{
	color: rgb(197,168,118);
	text-decoration:underline;
}
.link-footer:active {
    color:rgb(197,168,118) ;
}
.link-footer p{
	margin:0;
	padding:0;
	margin-left:-.5em;
	font-family: Raleway-Light;
}