.mobile-footer-container{
	position:fixed;
	top:90%;
	height:10%;
	width:100%;
	display:flex;
	border-top: 1px solid grey;
	justify-content: space-evenly;
	background-color:white;
}
.mobile-home-icon{
	margin-top:20px;
	font-size:18pt;

}
.mobile-pencil-icon{
	margin-top:20px;
	font-size:18pt;	
}