# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*





//http://www.rumin.services:3001
////http://localhost:8080
//REACT_APP_URL_HOME=http://www.rumin.services:3001
//REACT_APP_URL_LOGIN=http://www.rumin.services:3001/login
//REACT_APP_URL_REGISTER=http://www.rumin.services:3001/register
//REACT_APP_URL_SAVE=http://www.rumin.services:3001/save