@font-face {
    font-family: Typewriter;
    src: url(../fonts/Tox_Typewriter.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: MoonLight;
    src: url(../fonts/Moon_Light.otf);
}
@font-face {
    font-family: MoonBold;
    src: url(../fonts/Moon_Bold.otf);
}
@font-face {
    font-family: Raleway-Black;
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../fonts/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-Light;
    src: url(../fonts/Raleway-Light.ttf);
}
