.mobile-header-container{
	position: relative;
	float:left;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(242,236,223,1);
}
.mobile-title{
	font-size: 15pt;
	letter-spacing: .1em;
	color:grey;
	font-family: 'moonLight';
}
.mobile-cog-icon{
	position:absolute;
	left:85%;
	top:-.25em;
	color:grey;
	font-size:18pt;
}