.mobile-header-container{
	position: relative;
	float:left;
	width:100%;
	display: flex;
	justify-content: center;
	background-color: rgba(245, 222, 179, 1);
}
.mobile-title{
	font-size: 15pt;
	font-family: 'moonLight';
}