.mobile-journalEntry-content{
	width:90%;
	position:relative;
	cursor: pointer;
	float:left;
	background: white;
	margin:0 auto;
	margin-top: 1em;
	box-shadow: 0px 0px 1px 1px gray;
}
.mobile-journalEntry-content-container{
	width:100%;
	position:relative;
	float:left;

}
.mobile-journalEntry-date{
	float:left;
	width:100%;
	font-size:12pt;
	padding-top: .5em;
	text-align: center;
	font-family:MoonLight;
	color:grey;
}

.mobile-journalEntry-text{
	width:60%;
	padding-top:1em;
	margin: 0 auto;
	font-family: Typewriter;
	font-size:10pt;
}
.mobile-journalEntry-text p{
	vertical-align: middle;
}
.mobile-journal-appear {
  opacity: 0.01;
  transform: translateY(30%);
}
.mobile-journal-appear-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all .75s ease-in;
}