#mobile-journalEntry-container{
	width:100%;
	position:relative;
	display:flex;
	justify-content: flex-start;
	float:left;
	padding-bottom: 50%;
	background: rgb(249,248,244);
	min-height:495px;
}
.mobile-journal-highlighted-container{
	position:fixed;
	top: 0;
  	left: 0;
	width:100%;
	height: 100%;
	padding-top:5%;
	padding-bottom:5%;
	z-index:10000;
	background: rgba(0, 0, 0, 0.5);
}
.mobile-journal-highlighted-wrapper{
	margin: 0 auto;
	width: 60%;
}
.mobile-journal-highlighted{
	background:white;
	height:600px;
	box-sizing: border-box;
	outline: none;
	box-shadow: 0 4px 20px -2px gray;
	   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-appearance: none;
    border-radius: 0px 5px 5px 5px;
    padding:50px;
    font-family: Typewriter;
    overflow-y: scroll;
}
.mobile-column-display{
	padding-bottom:0%;
}
.btn-delete-popup, .btn-edit-entry, .btn-save-entry, .btn-cancel-entry{
	width:5em;
	height:2em;
	border-radius:5px 5px 0px 0px;
	border-width: thin;
	font-family: ''; 
}
.journal-appear {
  opacity: 0.01;
  transform: translateX(-10%);
}
.journal-appear-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all .75s ease-in;
}

.mobile-column-display, .mobile-middle-column, .mobile-right-column{
	position:relative;
	float:left;
	display:flex;
	flex-flow: wrap;
	justify-content: flex-start;
	width:100%;

}