.journalEntry-content{
	width:30%;
	margin:auto;
	margin-top:2em;
	position:relative;
	cursor: pointer;
	float:left;
	background: white;
	box-shadow: 0 4px 20px -2px gray;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-appearance: none;
    border-radius: 5px;
}
.journalEntry-content-container{
	width:100%;
	position:relative;
	float:left;

}
.journalEntry-date{
	float:left;
	width:100%;
	font-size:12pt;
	text-align: center;
	font-family:MoonLight;
	color:grey;
}

.journalEntry-text{
	width:60%;
	padding-top:1em;
	margin: 0 auto;
	font-family: Typewriter;
}
.journalEntry-text p{
	vertical-align: middle;
}