.header-wrapper{
width:100%;
position:relative;
float:left;
background-image: url('../pic/header_banner.png');
/*box-shadow: 0 4px 2px -2px gray;*/
z-index:500;
}
.header-content{
position:relative;
width:300px;
float:left;
}
.header-content p{
	font-family:"helvetica";
}
.header-background{
z-index:500;
background: url('../pic/header_banner1600.png') no-repeat center fixed;
width:100%;
height:200px;
background-size:cover;
float:left;
/*box-shadow: 0 4px 2px -2px gray;*/
}