.mobile-journalEntry-container{
	width:100%;
	position:relative;
	display:flex;
	justify-content: flex-start;
	float:left;
	padding-top:2em;
	padding-bottom: 2em;
	z-index:500;
	background: rgb(250, 250, 250);
	min-height:495px;
}
.mobile-journalEntry-content{
	width:33.3%;
	position:relative;
	cursor: pointer;
	float:left;
	background: white;
	box-shadow: 0px 0px 2px 2px gray;
}
.mobile-journalEntry-content-container{
	width:100%;
	position:relative;
	float:left;

}
.mobile-journalEntry-date{
	float:left;
	width:100%;
	font-size:12pt;
	text-align: center;
	font-family:MoonLight;
	color:grey;
}

.mobile-journalEntry-text{
	width:60%;
	padding-top:1em;
	margin: 0 auto;
	font-family: Typewriter;
	font-size:10pt;
}
.mobile-journalEntry-text p{
	vertical-align: middle;
}