.navbar-container{
width:100%;
height:3em;
position:fixed;
display: inline-flex;
flex-direction: row;
color:grey;
justify-content: center;
align-items: center;
font-family: 'moonLight';
left:0;
top:0;
background-color:rgba(255, 255, 255, .8);
z-index:2000;
box-shadow: 0 4px 2px -2px gray;
}
.nav-first-item{
	position:fixed;
	top:0em;
	left:3%;
	width:25%;
	display:inline-flex;
	justify-content: space-around;
	align-items: center;
	font-size: 13pt;
}
.logout{
	margin-left:10em;
}
.nav-second-item{
	margin-right:1em;
	font-size: 21pt;
}
.nav-third-item{
	position:fixed;
	left:60%;
	top:1em%;
	width:15%;
	display:inline-flex;
	justify-content: space-around;
	align-items: center;
	font-size: 13pt;
}
.nav-fourth-item{
	position:fixed;
	left:80%;
	top:0%;
	width:15%;
	display:inline-flex;
	justify-content: space-around;
	align-items: center;
	font-size: 13pt;
}
.save, .arrow-up{
	font-size:20pt;
	cursor: pointer;
	margin-right:.5em;
}

.link{
	text-decoration: none;
	color:grey;
}
.link:visited{
	color:grey;
}
.link:hover{
	color: rgb(197,168,118);
	text-decoration:underline;
}
.link:active {
    color:rgb(197,168,118) ;
}

@media (max-width: 1408px) and (min-width: 1212px){
	.title{
		padding-left:15%;
	}
}
@media (max-width: 1211px) and (min-width: 1061px){
	.title{
		padding-left:14%;
	}
	.userName, .logout{
	margin-left: 1%;
	}
}
@media (max-width: 1060px) and (min-width: 856px){
	.title{
		padding-left:12%;
	}
	.userName, .logout{
	margin-left: 0;
	}
}