.navbar-container{
width:100%;
position:fixed;
display: inline-flex;
flex-direction: row;
color:grey;
justify-content: flex-start;
font-family: 'moonLight';
left:0;
top:0;
background-color:rgba(255, 255, 255, .8);
z-index:2000;
box-shadow: 0 4px 2px -2px gray;
}

.title, .title-entry, .navigation, .toolbar, .userName{
	display: inline-flex;
}

.title, .title-entry{
	flex: 0 1 auto;
	list-style: none;
	text-align: center;
	margin: auto;
	padding-left:15%;
}
.title-entry{
	padding-left: 16%;
}

.title li, .title-entry li {
	font-size:20pt;

}
.navigation{
	flex: 0 1 auto;
	width:9%;
	margin: auto;
	display: inline-flex;
	justify-content: space-evenly;
	list-style: none;
	margin-right:2%;
}
.navigation li{
	display: inline-flex;
}

.toolbar{
	list-style: none;
	flex: 0 1 auto;
	margin: auto;
	margin-right:2%;
	display: inline;
	text-align: right;
}
.userName, .logout{
	list-style: none;
	margin-left: 2%;
	display: inline;
	text-align: center;
	vertical-align: middle;
}

.save, .arrow-up{
	font-size:20pt;
	cursor: pointer;
	margin-right:.5em;
}

.link{
	text-decoration: none;
}
.link:hover{
	color: rgb(197,168,118);
	text-decoration:underline;
}
.link:visited{
	color:grey;
}
.link:active {
    color:rgb(197,168,118) ;
}