.link{
	text-decoration: none;
}
.link:hover{
	text-decoration:underline;
	color: #c5a876;
}

.navbar-container{
width:100%;
position:fixed;
left:0;
top:0;
background-color:rgba(255, 255, 255, .8);
z-index:2000;
box-shadow: 0 4px 2px -2px gray;
}
.navbar-content-wrapper{
float:left;
width:100%;
}

.navbar-content{
font-family:moonLight;
float:left;
width:100%;
}
.navbar-content li{
display:inline;
margin-right:1em;
text-decoration:none;
color:grey;
font-size:1em;
letter-spacing:.1em;
}
.navbar-content-2 li{
	font-size: 20pt;
}

.title, .navigation{
	display: inline-block;
}
.title{
	width:15%;
	text-align: center;
	float:left;
	margin-left:20%;
	margin-top:1.25em;
}
.loginTitle{
	margin: 0 auto;
	width:100%;
	text-align: center;
}
.title li, .loginTitle li{
	font-size:20pt;

}
.navigation{
	width:20%;
	display: inline-block;
	float:right;
	text-align: right;
	margin-right:2em;
	margin-top:2em;
}
.toolbar{
	margin-top:1.5em;
	margin-right:2%;
	display: inline-block;
	float:right;
	text-align: right;
}
.save, .arrow-up{
	font-size:20pt;
	cursor: pointer;
	margin:-5px;
	margin-right:.5em;
}

.userName, .logout{
	margin-top:2em;
	display: inline-block;
	float:left;
	text-align: center;
	vertical-align: middle;
}